{% extends "layout.html" %}

{% block title %}Login{% endblock %}
{% block active %}Login{% endblock %}

{% block main %}

<h3>About Coursuccess</h3>

The goal of this website is to help students become more productive and to have a better plan for their future.
We have a lot of different tools for planning your future, such as surveys that recommend courses specific to you, and
a goal setter that would help to remind where you want to get from here.
<br>
<br>
Hopefully you will find this website useful and use for your next plan!



{% endblock %}