<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="style.css" rel="stylesheet" type="text/css"/>
</head>

<body>
  <h1>Timetable</h1>
  <h3>Course Update</h3><br>
  <label>Course Type:</label>
  <select id="coursetype" style="font-size: 16px;">
    <option value="dayschool">Day School</option>
    <option value="summerschool">Summer School</option>
    <option value="nightschool">Night School</option>
    <option value="rep">Repertoire</option>
  </select>
  <br>
  <label>Grade:</label>
  <select id="grade" style="font-size: 16px;">
    <option value=0>Grade 9</option>
    <option value=1>Grade 10</option>
    <option value=2>Grade 11</option>
    <option value=3>Grade 12</option>
  </select>
  <label>Course Block:</label>
  <select id="courseblock" style="font-size: 16px;">
    <option value=1>Block 1</option>
    <option value=2>Block 2</option>
    <option value=3>Block 3</option>
    <option value=4>Block 4</option>
    <option value=5>Block 5</option>
    <option value=6>Block 6</option>
    <option value=7>Block 7</option>
    <option value=8>Block 8</option>
  </select>
  <br>
  <label>New Course:</label>
  <select id="newcourse" style="font-size: 16px;">
      <optgroup label="Arts">
        <option value="Drama Gr.9 (ADA1O)">Drama Gr.9 (ADA1O)</option>
        <option value="Drama Gr.10 (ADA2O)">Drama Gr.10 (ADA2O)</option>
        <option value="Drama Gr.11 (ADA3M)">Drama Gr.11 (ADA3M)</option>
        <option value="Drama Gr.11 (ADA3O)">Drama Gr.11 (ADA3O)</option>
        <option value="Drama Gr.12 (ADA4E)">Drama Gr.12 (ADA4E)</option>
        <option value="Music Gr.9 (AMU1O)">Music Gr.9 (AMU1O)</option>
        <option value="Music Gr.10 (AMU2O)">Music Gr.10 (AMU2O)</option>
        <option value="Music Gr.11 (AMU3M)">Music Gr.11 (AMU3M)</option>
        <option value="Music Gr.12 (AMU4M)">Music Gr.12 (AMU4M)</option>
        <option value="Visual Arts Gr.9 (AVI1O)">Visual Arts Gr.9 (AVI1O)</option>
        <option value="Visual Arts Gr.10 (AVI2O)">Visual Arts Gr.10 (AVI2O)</option>
        <option value="Visual Arts Gr.11 (AVI3M)">Visual Arts Gr.11 (AVI3M)</option>
        <option value="Visual Arts Gr.11 (AVI3O)">Visual Arts Gr.11 (AVI3O)</option>
        <option value="Visual Arts Gr.12 (AVI4M)">Visual Arts Gr.12 (AVI4M)</option>
        <option value="Visual Arts Gr.12 (AVI4E)">Visual Arts Gr.12 (AVI4E)</option>
      </optgroup>
      <optgroup label="Business Studies">
        <option value="Information and Communication Technology in Business Gr.9 (BTT1O)">Information and Communication Technology in Business Gr.9 (BTT1O1)</option>
        <option value="Entrepreneurship: The Venture Gr.11 (BDI3C)">Entrepreneurship: The Venture Gr.11 (BDI3C1)</option>
        <option value="Financial Accounting Fundamentals Gr.11 (BAF3M)">Financial Accounting Fundamentals Gr.11 (BAF3M)</option>
        <option value="Marketing: Goods Gr.11 (BMI3C)">Marketing: Goods Gr.11 (BMI3C)</option>
        <option value="Financial Accounting Principles Gr.12 (BAT4M)">Financial Accounting Principles Gr.12 (BAT4M)</option>
        <option value="International Business Fundamentals Gr.12 (BBB4M)">International Business Fundamentals Gr.12 (BBB4M)</option>
        <option value="Business Leadership: Management Fundamentals Gr.12 (BOH4M)">Business Leadership: Management Fundamentals Gr.12 (BOH4M)</option>
      </optgroup>
      <optgroup label="Canadian and World Studies">
        <option value="Understanding Canadian Law Gr.11 (CLU3M)">Understanding Canadian Law Gr.11 (CLU3M)</option>
        <option value="Canadian and International Law Gr.12 (CLN4U)">Canadian and International Law Gr.12 (CLN4U)</option>
        <option value="Issues in Canadian Geography Gr.9 (CGC1D)">Issues in Canadian Geography Gr.9 (CGC1D)</option>
        <option value="Travel and Tourism: A Geographic Perspective Gr.11 (CGG3O)">Travel and Tourism: A Geographic Perspective Gr.11 (CGG3O)</option>
        <option value="World Issues: A Geographic Analysis Gr.12 (CGW4U)">World Issues: A Geographic Analysis Gr.12 (CGW4U)</option>
        <option value="Canadian History Since World War I Gr.10 (CHC2D)">Canadian History Since World War I Gr.10 (CHC2D)</option>
        <option value="Canadian History Gr.10 (CHC2L)">Canadian History Gr.10 (CHC2L)</option>
        <option value="World History Since 1900: Global & Regional Interactions Gr.11 (CHT3O)">World History Since 1900: Global & Regional Interactions Gr.11 (CHT3O)</option>
        <option value="World History to the End of the 15th Century Gr.11 (CHW3M)">World History to the End of the 15th Century Gr.11 (CHW3M)</option>
        <option value="World History Since the Fifteenth Century Gr.12 (CHY4U)">World History Since the Fifteenth Century Gr.12 (CHY4U)</option>
        <option value="Analysing Current Economic Issues Gr.12 (CIA4U)">Analysing Current Economic Issues Gr.12 (CIA4U)</option>
        <option value="The Individual and the Economy Gr.11 (CIE3M)">The Individual and the Economy Gr.11 (CIE3M)</option>
        <option value="Canadian and World Politics Gr.12 (CPW4U)">Canadian and World Politics Gr.12 (CPW4U)</option>
      </optgroup>
    </select>
  <br>
  <button onclick="reset()">Reset</button>
  <button onclick="standard()">Standard</button>
  <button onclick="update()">Update</button>
  <br><br>
  <table border="2" id="table">
    <tr>
      <td align="center" height="50" width="150"><b>Grade 9</b></td>
      <td align="center" height="50" width="150"><b>Grade 10</b></td>
      <td align="center" height="50" width="150"><b>Grade 11</b></td>
      <td align="center" height="50" width="150"><b>Grade 12</b></td>
    </tr>
    <tr>
      <td colspan="4" align="center" height="50"><b>Day School</b></td>
    </tr>
    <tr>
      <td align="center" height="50" width="150">Course 1</td>
      <td align="center" height="50" width="150">Course 1</td>
      <td align="center" height="50" width="150">Course 1</td>
      <td align="center" height="50" width="150">Course 1</td>
    </tr>
    <tr>
      <td align="center" height="50" width="150">Course 2</td>
      <td align="center" height="50" width="150">Course 2</td>
      <td align="center" height="50" width="150">Course 2</td>
      <td align="center" height="50" width="150">Course 2</td>
    </tr>
    <tr>
      <td align="center" height="50" width="150">Course 3</td>
      <td align="center" height="50" width="150">Course 3</td>
      <td align="center" height="50" width="150">Course 3</td>
      <td align="center" height="50" width="150">Course 3</td>
    </tr>
    <tr>
      <td align="center" height="50" width="150">Course 4</td>
      <td align="center" height="50" width="150">Course 4</td>
      <td align="center" height="50" width="150">Course 4</td>
      <td align="center" height="50" width="150">Course 4</td>
    </tr>
    <tr>
      <td align="center" height="50" width="150">Course 5</td>
      <td align="center" height="50" width="150">Course 5</td>
      <td align="center" height="50" width="150">Course 5</td>
      <td align="center" height="50" width="150">Course 5</td>
    </tr>
    <tr>
      <td align="center" height="50" width="150">Course 6</td>
      <td align="center" height="50" width="150">Course 6</td>
      <td align="center" height="50" width="150">Course 6</td>
      <td align="center" height="50" width="150">Course 6</td>
    </tr>
    <tr>
      <td align="center" height="50" width="150">Course 7</td>
      <td align="center" height="50" width="150">Course 7</td>
      <td align="center" height="50" width="150">Course 7</td>
      <td align="center" height="50" width="150">Course 7</td>
    </tr>
    <tr>
      <td align="center" height="50" width="150">Course 8</td>
      <td align="center" height="50" width="150">Course 8</td>
      <td align="center" height="50" width="150">Course 8</td>
      <td align="center" height="50" width="150">Course 8</td>
    </tr>
    <tr>
      <td colspan="4" align="center" height="50"><b>Summer School</b></td>
    </tr>
    <tr>
      <td align="center" height="50" width="150">Summer School 1</td>
      <td align="center" height="50" width="150">Summer School 1</td>
      <td align="center" height="50" width="150">Summer School 1</td>
      <td align="center" height="50" width="150">Summer School 1</td>
    </tr>
    <tr>
      <td align="center" height="50" width="150">Summer School 2</td>
      <td align="center" height="50" width="150">Summer School 2</td>
      <td align="center" height="50" width="150">Summer School 2</td>
      <td align="center" height="50" width="150">Summer School 2</td>
    </tr>
    <tr>
      <td colspan="4" align="center" height="50"><b>Night School</b></td>
    </tr>
    <tr>
      <td align="center" height="50" width="150">Night School 1</td>
      <td align="center" height="50" width="150">Night School 1</td>
      <td align="center" height="50" width="150">Night School 1</td>
      <td align="center" height="50" width="150">Night School 1</td>
    </tr>
    <tr>
      <td align="center" height="50" width="150">Night School 2</td>
      <td align="center" height="50" width="150">Night School 2</td>
      <td align="center" height="50" width="150">Night School 2</td>
      <td align="center" height="50" width="150">Night School 2</td>
    </tr>
    <tr>
      <td colspan="4" align="center" height="50"><b>Repertoire</b></td>
    </tr>
    <tr>
      <td align="center" height="50" width="150">Repertoire 1</td>
      <td align="center" height="50" width="150">Repertoire 1</td>
      <td align="center" height="50" width="150">Repertoire 1</td>
      <td align="center" height="50" width="150">Repertoire 1</td>
    </tr>
  </table>
  <br>
  <button class="collapseField" title="Want a timetable that suits you? Please fill out the survey!" id="survey">Survey</button>
  <div class="surveyQuestion" id="Question">
    <label style="font-size: 20px;">1. What grade are you entering in the following year?</label>
    <select id="question1" style="font-size: 16px;">
      <option value="gr9">Grade 9</option>
      <option value="gr10">Grade 10</option>
      <option value="gr11">Grade 11</option>
      <option value="gr12">Grade 12</option>
    </select>
    <br>
    <label style="font-size: 20px;">2. Select your top preferred field of study.</label>
    <select id="question2" style="font-size: 16px;">
      <optgroup label="Arts">
        <option value="art">Art</option>
        <option value="drama">Drama</option>
        <option value="music">Music</option>
        <option value="npart">No Preference</option>
      </optgroup>
      <optgroup label="Business Studies">
        <option value="marketing">Marketing</option>
        <option value="accounting">Accounting</option>
        <option value="entrepreneurship">Entrepreneurship</option>
        <option value="management">Management</option>  
        <option value="npbusinessstudies">No Preference</option>
      </optgroup>
      <optgroup label="Canadian and World Studies">
        <option value="geography">Geography</option>
        <option value="history">History</option>
        <option value="economics">Economics</option>
        <option value="npcanadianandworldstudies">No Preference</option>
      </optgroup>
      <optgroup label="Languages">
        <option value="english">English</option>
        <option value="french">French</option>
        <option value="nplanguages">No Preference</option>
      </optgroup>
      <optgroup label="Computer Studies">
        <option value="engineering">Engineering</option>
        <option value="computerscience">Computer Science</option>
        <option value="npcomputerstudies">No Preference</option>
      </optgroup>
      <optgroup label="Health and Physical Education">
        <option value="fitness">Fitness</option>
        <option value="healthyactivelivingeducation">Healthy Active Living Education</option>
        <option value="nphealthandphysicaleducation">No Preference</option>
      </optgroup>
      <optgroup label="Mathematics">
        <option value="algebraandfunctions">Algebra & Functions</option>
        <option value="datamanagement">Data Management</option>
        <option value="npmathematics">No Preference</option>
      </optgroup>
      <optgroup label="Science">
        <option value="physics">Physics</option>
        <option value="chemistry">Chemistry</option>
        <option value="biology">Biology</option>
        <option value="npscience">No Preference</option>
      </optgroup>
      <optgroup label="Social Sciences and Humanities">
        <option value="familystudies">Family Studies</option>
        <option value="foodandnutrition">Food and Nutrition</option>
        <option value="philosophy">Philosophy</option>
        <option value="psychology">Psychology</option>
        <option value="npsocialstudiesandhumanities">No Preference</option>
      </optgroup>
      <optgroup label="Technological Education">
        <option value="communicationstechnology">Communications Technology</option>
        <option value="technologicaldesign">Technological Design</option>
        <option value="nptechnologicalstudies">No Preference</option>
      </optgroup>
      <optgroup label="No Preference">
        <option value="npnopreference">No Preference</option>
      </optgroup>
    </select>
    <br>
    <label style="font-size: 20px;">3. Enter your second preferred field of study.</label>
    <select id="question3" style="font-size: 16px;">
      <optgroup label="Arts">
        <option value="art">Art</option>
        <option value="drama">Drama</option>
        <option value="music">Music</option>
        <option value="npart">No Preference</option>
      </optgroup>
      <optgroup label="Business Studies">
        <option value="marketing">Marketing</option>
        <option value="accounting">Accounting</option>
        <option value="entrepreneurship">Entrepreneurship</option>
        <option value="management">Management</option>  
        <option value="npbusinessstudies">No Preference</option>
      </optgroup>
      <optgroup label="Canadian and World Studies">
        <option value="geography">Geography</option>
        <option value="history">History</option>
        <option value="economics">Economics</option>
        <option value="npcanadianandworldstudies">No Preference</option>
      </optgroup>
      <optgroup label="Languages">
        <option value="english">English</option>
        <option value="french">French</option>
        <option value="nplanguages">No Preference</option>
      </optgroup>
      <optgroup label="Computer Studies">
        <option value="engineering">Engineering</option>
        <option value="computerscience">Computer Science</option>
        <option value="npcomputerstudies">No Preference</option>
      </optgroup>
      <optgroup label="Health and Physical Education">
        <option value="fitness">Fitness</option>
        <option value="healthyactivelivingeducation">Healthy Active Living Education</option>
        <option value="nphealthandphysicaleducation">No Preference</option>
      </optgroup>
      <optgroup label="Mathematics">
        <option value="algebraandfunctions">Algebra & Functions</option>
        <option value="datamanagement">Data Management</option>
        <option value="npmathematics">No Preference</option>
      </optgroup>
      <optgroup label="Science">
        <option value="physics">Physics</option>
        <option value="chemistry">Chemistry</option>
        <option value="biology">Biology</option>
        <option value="npscience">No Preference</option>
      </optgroup>
      <optgroup label="Social Sciences and Humanities">
        <option value="familystudies">Family Studies</option>
        <option value="foodandnutrition">Food and Nutrition</option>
        <option value="philosophy">Philosophy</option>
        <option value="psychology">Psychology</option>
        <option value="npsocialstudiesandhumanities">No Preference</option>
      </optgroup>
      <optgroup label="Technological Education">
        <option value="communicationstechnology">Communications Technology</option>
        <option value="technologicaldesign">Technological Design</option>
        <option value="nptechnologicalstudies">No Preference</option>
      </optgroup>
      <optgroup label="No Preference">
        <option value="npnopreference">No Preference</option>
      </optgroup>
    </select>
    <br>
    <label style="font-size: 20px;">4. Enter your third preferred field of study.</label>
    <select id="question4" style="font-size: 16px;">
      <optgroup label="Arts">
        <option value="art">Art</option>
        <option value="drama">Drama</option>
        <option value="music">Music</option>
        <option value="npart">No Preference</option>
      </optgroup>
      <optgroup label="Business Studies">
        <option value="marketing">Marketing</option>
        <option value="accounting">Accounting</option>
        <option value="entrepreneurship">Entrepreneurship</option>
        <option value="management">Management</option>  
        <option value="npbusinessstudies">No Preference</option>
      </optgroup>
      <optgroup label="Canadian and World Studies">
        <option value="geography">Geography</option>
        <option value="history">History</option>
        <option value="economics">Economics</option>
        <option value="npcanadianandworldstudies">No Preference</option>
      </optgroup>
      <optgroup label="Languages">
        <option value="english">English</option>
        <option value="french">French</option>
        <option value="nplanguages">No Preference</option>
      </optgroup>
      <optgroup label="Computer Studies">
        <option value="engineering">Engineering</option>
        <option value="computerscience">Computer Science</option>
        <option value="npcomputerstudies">No Preference</option>
      </optgroup>
      <optgroup label="Health and Physical Education">
        <option value="fitness">Fitness</option>
        <option value="healthyactivelivingeducation">Healthy Active Living Education</option>
        <option value="nphealthandphysicaleducation">No Preference</option>
      </optgroup>
      <optgroup label="Mathematics">
        <option value="algebraandfunctions">Algebra & Functions</option>
        <option value="datamanagement">Data Management</option>
        <option value="npmathematics">No Preference</option>
      </optgroup>
      <optgroup label="Science">
        <option value="physics">Physics</option>
        <option value="chemistry">Chemistry</option>
        <option value="biology">Biology</option>
        <option value="npscience">No Preference</option>
      </optgroup>
      <optgroup label="Social Sciences and Humanities">
        <option value="familystudies">Family Studies</option>
        <option value="foodandnutrition">Food and Nutrition</option>
        <option value="philosophy">Philosophy</option>
        <option value="psychology">Psychology</option>
        <option value="npsocialstudiesandhumanities">No Preference</option>
      </optgroup>
      <optgroup label="Technological Education">
        <option value="communicationstechnology">Communications Technology</option>
        <option value="technologicaldesign">Technological Design</option>
        <option value="nptechnologicalstudies">No Preference</option>
      </optgroup>
      <optgroup label="No Preference">
        <option value="npnopreference">No Preference</option>
      </optgroup>
    </select>
    <br>
    <label style="font-size: 20px;">5. Select your preferred pathway</label>
    <select id="question7" style="font-size: 16px;">
      <option value="unipathway">University</option>
      <option value="collegepathway">College</option>
      <option value="workplacepathway">Workplace</option>
    </select>
    <br>
    <label style="font-size: 20px;">6. If you are going to Gr. 12 or above in the following year, how many spare do you wish to have?</label>
    <select id="question8" style="font-size: 16px;">
      <option value="zerospare">0</option>
      <option value="onespare">1</option>
      <option value="twospare">2</option>
    </select>
    <br>
    <label style="font-size: 20px;">7. How many courses are you willing to fast-track (maximum)?</label>
    <select id="question9" style="font-size: 16px;">
      <option value="zerofast">0</option>
      <option value="onefast">1</option>
      <option value="twofast">2</option>
      <option value="threefast">3</option>
      <option value="fourfast">4</option>
      <option value="fivefast">5</option>
    </select>
    <br>
    <label style="font-size: 20px;">8. Are you planning to join the repertoire?</label>
    <select id="question10" style="font-size: 16px;">
      <option value="yesrep">Yes</option>
      <option value="norep">No</option>
    </select>
    <br>
  </div>
  <br>
  <script src="script.js"></script>
  <script src="https://replit.com/public/js/replit-badge-v2.js" theme="dark" position="bottom-right"></script>
</body>
</html>
