<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="style.css" rel="stylesheet" type="text/css"/>
</head>

<body>
  <h1>Timetable</h1>
  <h3>Course Update</h3><br>
  <label>Course Type:</label>
  <select id="coursetype" style="font-size: 16px;">
    <option value="dayschool">Day School</option>
    <option value="summerschool">Summer School</option>
    <option value="nightschool">Night School</option>
    <option value="rep">Repertoire</option>
  </select>
  <br>
  <label>Grade:</label>
  <select id="grade" style="font-size: 16px;">
    <option value=0>Grade 9</option>
    <option value=1>Grade 10</option>
    <option value=2>Grade 11</option>
    <option value=3>Grade 12</option>
  </select>
  <label>Course Block:</label>
  <select id="courseblock" style="font-size: 16px;">
    <option value=1>Block 1</option>
    <option value=2>Block 2</option>
    <option value=3>Block 3</option>
    <option value=4>Block 4</option>
    <option value=5>Block 5</option>
    <option value=6>Block 6</option>
    <option value=7>Block 7</option>
    <option value=8>Block 8</option>
  </select>
  <br>
  <label>New Course:</label>
  <select id="newcourse" style="font-size: 16px;">
      <optgroup label="Arts">
        <option value="Drama Gr.9 (ADA1O)">Drama Gr.9 (ADA1O)</option>
        <option value="Drama Gr.10 (ADA2O)">Drama Gr.10 (ADA2O)</option>
        <option value="Drama Gr.11 (ADA3M)">Drama Gr.11 (ADA3M)</option>
        <option value="Drama Gr.11 (ADA3O)">Drama Gr.11 (ADA3O)</option>
        <option value="Drama Gr.12 (ADA4E)">Drama Gr.12 (ADA4E)</option>
        <option value="Music Gr.9 (AMU1O)">Music Gr.9 (AMU1O)</option>
        <option value="Music Gr.10 (AMU2O)">Music Gr.10 (AMU2O)</option>
        <option value="Music Gr.11 (AMU3M)">Music Gr.11 (AMU3M)</option>
        <option value="Music Gr.12 (AMU4M)">Music Gr.12 (AMU4M)</option>
        <option value="Visual Arts Gr.9 (AVI1O)">Visual Arts Gr.9 (AVI1O)</option>
        <option value="Visual Arts Gr.10 (AVI2O)">Visual Arts Gr.10 (AVI2O)</option>
        <option value="Visual Arts Gr.11 (AVI3M)">Visual Arts Gr.11 (AVI3M)</option>
        <option value="Visual Arts Gr.11 (AVI3O)">Visual Arts Gr.11 (AVI3O)</option>
        <option value="Visual Arts Gr.12 (AVI4M)">Visual Arts Gr.12 (AVI4M)</option>
        <option value="Visual Arts Gr.12 (AVI4E)">Visual Arts Gr.12 (AVI4E)</option>
      </optgroup>
      <optgroup label="Business Studies">
        <option value="Information and Communication Technology in Business Gr.9 (BTT1O)">Information and Communication Technology in Business Gr.9 (BTT1O1)</option>
        <option value="Entrepreneurship: The Venture Gr.11 (BDI3C)">Entrepreneurship: The Venture Gr.11 (BDI3C1)</option>
        <option value="Financial Accounting Fundamentals Gr.11 (BAF3M)">Financial Accounting Fundamentals Gr.11 (BAF3M)</option>
        <option value="Marketing: Goods Gr.11 (BMI3C)">Marketing: Goods Gr.11 (BMI3C)</option>
        <option value="Financial Accounting Principles Gr.12 (BAT4M)">Financial Accounting Principles Gr.12 (BAT4M)</option>
        <option value="International Business Fundamentals Gr.12 (BBB4M)">International Business Fundamentals Gr.12 (BBB4M)</option>
        <option value="Business Leadership: Management Fundamentals Gr.12 (BOH4M)">Business Leadership: Management Fundamentals Gr.12 (BOH4M)</option>
      </optgroup>
      <optgroup label="Canadian and World Studies">
        <option value="Understanding Canadian Law Gr.11 (CLU3M)">Understanding Canadian Law Gr.11 (CLU3M)</option>
        <option value="Canadian and International Law Gr.12 (CLN4U)">Canadian and International Law Gr.12 (CLN4U)</option>
        <option value="Issues in Canadian Geography Gr.9 (CGC1D)">Issues in Canadian Geography Gr.9 (CGC1D)</option>
        <option value="Travel and Tourism: A Geographic Perspective Gr.11 (CGG3O)">Travel and Tourism: A Geographic Perspective Gr.11 (CGG3O)</option>
        <option value="World Issues: A Geographic Analysis Gr.12 (CGW4U)">World Issues: A Geographic Analysis Gr.12 (CGW4U)</option>
        <option value="Canadian History Since World War I Gr.10 (CHC2D)">Canadian History Since World War I Gr.10 (CHC2D)</option>
        <option value="Canadian History Gr.10 (CHC2L)">Canadian History Gr.10 (CHC2L)</option>
        <option value="World History Since 1900: Global & Regional Interactions Gr.11 (CHT3O)">World History Since 1900: Global & Regional Interactions Gr.11 (CHT3O)</option>
        <option value="World History to the End of the 15th Century Gr.11 (CHW3M)">World History to the End of the 15th Century Gr.11 (CHW3M)</option>
        <option value="World History Since the Fifteenth Century Gr.12 (CHY4U)">World History Since the Fifteenth Century Gr.12 (CHY4U)</option>
        <option value="Analysing Current Economic Issues Gr.12 (CIA4U)">Analysing Current Economic Issues Gr.12 (CIA4U)</option>
        <option value="The Individual and the Economy Gr.11 (CIE3M)">The Individual and the Economy Gr.11 (CIE3M)</option>
        <option value="Canadian and World Politics Gr.12 (CPW4U)">Canadian and World Politics Gr.12 (CPW4U)</option>
      </optgroup>
      <optgroup label="Languages">
        <option value="English Gr.9 (ENG1D)">English Gr.9 (ENG1D)</option>
        <option value="English Gr.9 (ENG1P)">English Gr.9 (ENG1P)</option>
        <option value="English Gr.10 (ENG2D)">English Gr.10 (ENG2D)</option>
        <option value="English Gr.10 (ENG2P)">English Gr.10 (ENG2P)</option>
        <option value="Literacy Skills: Reading and Writing Gr.10 (ELS2O)">Literacy Skills: Reading and Writing Gr.10 (ELS2O)</option>
        <option value="English Gr.11 (ENG3U)">English Gr.11 (ENG3U)</option>
        <option value="English Gr.11 (ENG3E)">English Gr.11 (ENG3E)</option>
        <option value="English Gr.11 (ENG3E)">English Gr.11 (ENG3E)</option>
        <option value="Canadian Literature Gr.11 (ETC3M)">Canadian Literature Gr.11 (ETC3M)</option>
        <option value="Media Studies Gr.11 (EMS3O)">Media Studies Gr.11 (EMS3O)</option>
        <option value="Presentation and Speaking Skills Gr.11 (EPS3O)">Presentation and Speaking Skills Gr.11 (EPS3O)</option>
        <option value="English Gr.12 (ENG4U)">English Gr.12 (ENG4U)</option>
        <option value="English Gr.12 (ENG4C)">English Gr.12 (ENG4C)</option>
        <option value="English Gr.12 (ENG4E)">English Gr.12 (ENG4E)</option>
        <option value="Studies in Literature Gr.12 (ETS4U)">Studies in Literature Gr.12 (ETS4U)</option>
        <option value="The Writer’s Craft Gr.12 (EWC4U)">The Writer’s Craft Gr.12 (EWC4U)</option>
        <option value="Studies in Literature Gr.12 (ETS4C)">Studies in Literature Gr.12 (ETS4C)</option>
        <option value="The Writer’s Craft College Gr.12 (EWC4C)">The Writer’s Craft College Gr.12 (EWC4C)</option>
        <option value="English: Understanding Contemporary First Nations, Métis, and Inuit Voices Gr.11 (NBE3U)">English: Understanding Contemporary First Nations, Métis, and Inuit Voices Gr.11 (NBE3U)</option>
        <option value="English: Understanding Contemporary First Nations, Métis, and Inuit Voices Gr.11 (NBE3C)">English: Understanding Contemporary First Nations, Métis, and Inuit Voices Gr.11 (NBE3C)</option>
        <option value="English: Understanding Contemporary First Nations, Métis, and Inuit Voices Gr.11 (NBE3E)">English: Understanding Contemporary First Nations, Métis, and Inuit Voices Gr.11 (NBE3E)</option>
        <option value="Contemporary First Nations, Métis, and Inuit Issues and Perspectives Gr.11 (NDA3M)">Contemporary First Nations, Métis, and Inuit Issues and Perspectives Gr.11 (NDA3M)</option>
        <option value="World Views and Aspirations of First Nations, Métis, and Inuit Communities in Canada Gr.11 (NBV3C)">World Views and Aspirations of First Nations, Métis, and Inuit Communities in Canada Gr.11 (NBV3C)</option>
        <option value="World Views and Aspirations of First Nations, Métis, and Inuit Communities in Canada Gr.11 (NBV3E)">World Views and Aspirations of First Nations, Métis, and Inuit Communities in Canada Gr.11 (NBV3E)</option>
        <option value="Contemporary Indigenous Issues and Perspectives in a Global Context Gr.12 (NDW4M)">Contemporary Indigenous Issues and Perspectives in a Global Context Gr.12 (NDW4M)</option>
        <option value="First Nations, Métis, and Inuit Governance in Canada Gr.12 (NDG4M)">First Nations, Métis, and Inuit Governance in Canada Gr.12 (NDG4M)</option>
        <option value="Classical Languages (Ancient Greek/Latin) Level 1 (LVGBD/LVLBD)">Classical Languages (Ancient Greek/Latin) Level 1 (LVGBD/LVLBD)</option>
        <option value="Classical Languages (Ancient Greek/Latin) Level 2 (LVGCU/LVLCU)">Classical Languages (Ancient Greek/Latin) Level 2 (LVGCU/LVLCU)</option>
        <option value="Classical Languages (Ancient Greek/Latin) Level 3 (LVGDU/LVLDU)">Classical Languages (Ancient Greek/Latin) Level 3 (LVGDU/LVLDU)</option>
        <option value="International Languages Level 1 (LBABD - LDYBD)">International Languages Level 1 (LBABD - LDYBD)</option>
        <option value="International Languages Level 1 (LBABO - LDYBO)">International Languages Level 1 (LBABO - LDYBO)</option>
        <option value="International Languages Level 2 (LBACU - LDYCU)">International Languages Level 2 (LBACU - LDYCU)</option>
        <option value="International Languages Level 2 (LBACO - LDYCO)">International Languages Level 2 (LBACO - LDYCO)</option>
        <option value="International Languages Level 3 (LBADU - LDYDU)">International Languages Level 3 (LBADU - LDYDU)</option>
        <option value="International Languages Level 3 (LBADO - LDYDO)">International Languages Level 3 (LBADO - LDYDO)</option>
        <option value="Core French Gr.9 (FSF1D)">Core French Gr.9 (FSF1D)</option>
        <option value="Core French Gr.9 (FSF1P)">Core French Gr.9 (FSF1P)</option>
        <option value="Core French Gr.9 (FSF1O)">Core French Gr.9 (FSF1O)</option>
        <option value="Core French Gr.10 (FSF2D)">Core French Gr.10 (FSF2D)</option>
        <option value="Core French Gr.10 (FSF2P)">Core French Gr.10 (FSF2P)</option>
        <option value="Core French Gr.10 (FSF2O)">Core French Gr.10 (FSF2O)</option>
        <option value="Core French Gr.11 (FSF3U)">Core French Gr.11 (FSF3U)</option>
        <option value="Core French Gr.11 (FSF3O)">Core French Gr.11 (FSF3O)</option>
        <option value="Core French Gr.12 (FSF4U)">Core French Gr.12 (FSF4U)</option>
        <option value="Core French Gr.12 (FSF4O)">Core French Gr.12 (FSF4O)</option>
      </optgroup>
      <optgroup label="Computer Studies">
        <option value="Introduction to Computer Studies Gr.10 (ICS2O)">Introduction to Computer Studies Gr.10 (ICS2O)</option>
        <option value="Introduction to Computer Science Gr.11 (ICS3U)">Introduction to Computer Science Gr.11 (ICS3U)</option>
        <option value="Introduction to Computer Programming Gr.11 (ICS3C)">Introduction to Computer Programming Gr.11 (ICS3C)</option>
        <option value="Computer Science Gr.12 (ICS4U)">Computer Science Gr.12 (ICS4U)</option>
        <option value="Computer Programming Gr.12 (ICS4C)">Computer Programming Gr.12 (ICS4C)</option>
      </optgroup>
      <optgroup label="Health and Physical Education">
        <option value="Healthy Active Living Education Gr.9 (PPL1O)">Healthy Active Living Education Gr.9 (PPL1O)</option>
        <option value="Healthy Active Living Education Gr.10 (PPL2O)">Healthy Active Living Education Gr.10 (PPL2O)</option>
        <option value="Healthy Active Living Education Gr.11 (PPL3O)">Healthy Active Living Education Gr.11 (PPL3O)</option>
        <option value="Health for Life Gr.11 (PPZ3C)">Health for Life Gr.11 (PPZ3C)</option>
        <option value="Healthy Active Living Education Gr.12 (PPL4O)">Healthy Active Living Education Gr.12 (PPL4O)</option>
        <option value="Introductory Kinesiology Gr.12 (PSK4U)">Introductory Kinesiology Gr.12 (PSK4U)</option>
        <option value="Recreation and Healthy Active Living Leadership Gr.12 (PLF4M)">Recreation and Healthy Active Living Leadership Gr.12 (PLF4M)</option>
      </optgroup> 
      <optgroup label="Mathematics">
        <option value="Principles of Mathematics Gr.9 (MPM1D)">Principles of Mathematics Gr.9 (MPM1D)</option>
        <option value="Foundations of Mathematics Gr.9 (MFM1P)">Foundations of Mathematics Gr.9 (MFM1P)</option>
        <option value="Mathematics of Transfer Course Gr.9 (MPM1H)">Mathematics of Transfer Course Gr.9 (MPM1H)</option>
        <option value="Principles of Mathematics Gr.10 (MPM2D)">Principles of Mathematics Gr.10 (MPM2D)</option>
        <option value="Foundations of Mathematics Gr.10 (MFM2P)">Foundations of Mathematics Gr.10 (MFM2P)</option>
        <option value="Functions Gr.11 (MCR3U)">Functions Gr.11 (MCR3U)</option>
        <option value="Functions and Applications Gr.11 (MCF3M)">Functions and Applications Gr.11 (MCF3M)</option>
        <option value="Foundations for College Mathematics Gr.11 (MBF3C)">Foundations for College Mathematics Gr.11 (MBF3C)</option>
        <option value="Mathematics for Work and Everyday Life Gr.11 (MEL3E)">Mathematics for Work and Everyday Life Gr.11 (MEL3E)</option>
        <option value="Advanced Functions Gr.12 (MHF4U)">Advanced Functions Gr.12 (MHF4U)</option>
        <option value="Calculus and Vectors Gr.12 (MCV4U)">Calculus and Vectors Gr.12 (MCV4U)</option>
        <option value="Mathematics of Data Management Gr.12 (MDM4U)">Mathematics of Data Management Gr.12 (MDM4U)</option>
        <option value="Mathematics for College Technology Gr.12 (MCT4C)">Mathematics for College Technology Gr.12 (MCT4C)</option>
        <option value="Foundations for College Mathematics Gr.12 (MAP4C)">Foundations for College Mathematics Gr.12 (MAP4C)</option>
        <option value="Mathematics for Work and Everyday Life Gr.12 (MEL4E)">Mathematics for Work and Everyday Life Gr.12 (MEL4E)</option>
      </optgroup>
      <optgroup label="Science">
        <option value="Science Gr.9 (SNC1D)">Science Gr.9 (SNC1D)</option>
        <option value="Science Gr.9 (SNC1P)">Science Gr.9 (SNC1P)</option>
        <option value="Science Gr.10 (SNC2D)">Science Gr.10 (SNC2D)</option>
        <option value="Science Gr.10 (SNC2P)">Science Gr.10 (SNC2P)</option>
        <option value="Science Gr.12 (SNC4M)">Science Gr.12 (SNC4M)</option>
        <option value="Science Gr.12 (SNC4E)">Science Gr.12 (SNC4E)</option>
        <option value="Biology Gr.11 (SBI3U)">Biology Gr.11 (SBI3U)</option>
        <option value="Biology Gr.11 (SBI3C)">Biology Gr.11 (SBI3C)</option>
        <option value="Biology Gr.12 (SBI4U)">Biology Gr.12 (SBI4U)</option>
        <option value="Chemistry Gr.11 (SCH3U)">Chemistry Gr.11 (SCH3U)</option>
        <option value="Chemistry Gr.12 (SBI4U)">Chemistry Gr.12 (SCH4U)</option>
        <option value="Chemistry Gr.12 (SCH4C)">Chemistry Gr.12 (SCH4C)</option>
        <option value="Earth and Space Science Gr.12 (SES4U)">Earth and Space Science Gr.12 (SES4U)</option>
        <option value="Environmental Science Gr.11 (SVN3M)">Environmental Science Gr.11 (SVN3M)</option>
        <option value="Environmental Science Gr.11 (SVN3E)">Environmental Science Gr.11 (SVN3E)</option>
        <option value="Physics Gr.11 (SPH3U)">Physics Gr.11 (SPH3U)</option>
        <option value="Physics Gr.12 (SPH4U)">Physics Gr.12 (SPH4U)</option>
        <option value="Physics Gr.12 (SPH4C)">Physics Gr.12 (SPH4C)</option>
      </optgroup>
      <optgroup label="Social Sciencs and Humanities">
        <option value="Gender Studies Gr.11 (HSG3M)">Gender Studies Gr.11 (HSG3M)</option>
        <option value="Equity, Diversity, and Social Justice Gr.11 (HSE3E)">Equity, Diversity, and Social Justice Gr.11 (HSE3E)</option>
        <option value="Equity, Diversity, and Social Justice Gr.12 (HSE4M)">Equity, Diversity, and Social Justice Gr.12 (HSE4M)</option>
        <option value="World Cultures Gr.12 (HSC4M)">World Cultures Gr.12 (HSC4M)</option>
        <option value="Exploring Family Studies Gr.9 (HIF1O)">Exploring Family Studies Gr.9 (HIF1O)</option>
        <option value="Food and Nutrition Gr.9 (HFN1O)">Food and Nutrition Gr.9 (HFN1O)</option>
        <option value="Exploring Family Studies Gr.10 (HIF2O)">Exploring Family Studies Gr.10 (HIF2O)</option>
        <option value="Food and Nutrition Gr.10 (HFN2O)">Food and Nutrition Gr.10 (HFN2O)</option>
        <option value="Clothing Gr.10 (HNL2O)">Clothing Gr.10 (HNL2O)</option>
        <option value="Understanding Fashion Gr.11 (HNC3C)">Understanding Fashion Gr.11 (HNC3C)</option>
        <option value="Housing and Home Design Gr.11 (HLS3O)">Housing and Home Design Gr.11 (HLS3O)</option>
        <option value="Food and Culture Gr.11 (HFC3M)">Food and Culture Gr.11 (HFC3M)</option>
        <option value="Food and Culture Gr.11 (HFC3E)">Food and Culture Gr.11 (HFC3E)</option>
        <option value="Dynamics of Human Relationships Gr.11 (HHD3O)">Dynamics of Human Relationships Gr.11 (HHD3O)</option>
        <option value="Working with Infants and Young Children Gr.11 (HPW3C)">Working with Infants and Young Children Gr.11 (HPW3C)</option>
      </optgroup>
    </select>
  <br>
  <button onclick="reset()">Reset</button>
  <button onclick="standard()">Standard</button>
  <button onclick="update()">Update</button>
  <br><br>
  <table border="2" id="table">
    <tr>
      <td align="center" height="50" width="150"><b>Grade 9</b></td>
      <td align="center" height="50" width="150"><b>Grade 10</b></td>
      <td align="center" height="50" width="150"><b>Grade 11</b></td>
      <td align="center" height="50" width="150"><b>Grade 12</b></td>
    </tr>
    <tr>
      <td colspan="4" align="center" height="50"><b>Day School</b></td>
    </tr>
    <tr>
      <td align="center" height="50" width="150">Course 1</td>
      <td align="center" height="50" width="150">Course 1</td>
      <td align="center" height="50" width="150">Course 1</td>
      <td align="center" height="50" width="150">Course 1</td>
    </tr>
    <tr>
      <td align="center" height="50" width="150">Course 2</td>
      <td align="center" height="50" width="150">Course 2</td>
      <td align="center" height="50" width="150">Course 2</td>
      <td align="center" height="50" width="150">Course 2</td>
    </tr>
    <tr>
      <td align="center" height="50" width="150">Course 3</td>
      <td align="center" height="50" width="150">Course 3</td>
      <td align="center" height="50" width="150">Course 3</td>
      <td align="center" height="50" width="150">Course 3</td>
    </tr>
    <tr>
      <td align="center" height="50" width="150">Course 4</td>
      <td align="center" height="50" width="150">Course 4</td>
      <td align="center" height="50" width="150">Course 4</td>
      <td align="center" height="50" width="150">Course 4</td>
    </tr>
    <tr>
      <td align="center" height="50" width="150">Course 5</td>
      <td align="center" height="50" width="150">Course 5</td>
      <td align="center" height="50" width="150">Course 5</td>
      <td align="center" height="50" width="150">Course 5</td>
    </tr>
    <tr>
      <td align="center" height="50" width="150">Course 6</td>
      <td align="center" height="50" width="150">Course 6</td>
      <td align="center" height="50" width="150">Course 6</td>
      <td align="center" height="50" width="150">Course 6</td>
    </tr>
    <tr>
      <td align="center" height="50" width="150">Course 7</td>
      <td align="center" height="50" width="150">Course 7</td>
      <td align="center" height="50" width="150">Course 7</td>
      <td align="center" height="50" width="150">Course 7</td>
    </tr>
    <tr>
      <td align="center" height="50" width="150">Course 8</td>
      <td align="center" height="50" width="150">Course 8</td>
      <td align="center" height="50" width="150">Course 8</td>
      <td align="center" height="50" width="150">Course 8</td>
    </tr>
    <tr>
      <td colspan="4" align="center" height="50"><b>Summer School</b></td>
    </tr>
    <tr>
      <td align="center" height="50" width="150">Summer School 1</td>
      <td align="center" height="50" width="150">Summer School 1</td>
      <td align="center" height="50" width="150">Summer School 1</td>
      <td align="center" height="50" width="150">Summer School 1</td>
    </tr>
    <tr>
      <td align="center" height="50" width="150">Summer School 2</td>
      <td align="center" height="50" width="150">Summer School 2</td>
      <td align="center" height="50" width="150">Summer School 2</td>
      <td align="center" height="50" width="150">Summer School 2</td>
    </tr>
    <tr>
      <td colspan="4" align="center" height="50"><b>Night School</b></td>
    </tr>
    <tr>
      <td align="center" height="50" width="150">Night School 1</td>
      <td align="center" height="50" width="150">Night School 1</td>
      <td align="center" height="50" width="150">Night School 1</td>
      <td align="center" height="50" width="150">Night School 1</td>
    </tr>
    <tr>
      <td align="center" height="50" width="150">Night School 2</td>
      <td align="center" height="50" width="150">Night School 2</td>
      <td align="center" height="50" width="150">Night School 2</td>
      <td align="center" height="50" width="150">Night School 2</td>
    </tr>
    <tr>
      <td colspan="4" align="center" height="50"><b>Repertoire</b></td>
    </tr>
    <tr>
      <td align="center" height="50" width="150">Repertoire 1</td>
      <td align="center" height="50" width="150">Repertoire 1</td>
      <td align="center" height="50" width="150">Repertoire 1</td>
      <td align="center" height="50" width="150">Repertoire 1</td>
    </tr>
  </table>
  <table>
    {{num = 0}}
    {% for i in range(17) %}
      <tr>
      {% for j in range(4) %}
        {% if i == 0 %}
          <td align="center" height="50" width="150"><b>Grade 9</b></td>
          <td align="center" height="50" width="150"><b>Grade 10</b></td>
          <td align="center" height="50" width="150"><b>Grade 11</b></td>
          <td align="center" height="50" width="150"><b>Grade 12</b></td>
          {% break %}
        {% endif %}
        {% if i == 1 %}
          <td colspan="4" align="center" height="50"><b>Day School</b></td>
          {% break %}
        {% endif %}
        {% if i == 10 %}
          <td colspan="4" align="center" height="50"><b>Summer School</b></td>
          {% break %}
        {% endif %}
        {% if i == 13 %}
          <td colspan="4" align="center" height="50"><b>Night School</b></td>
          {% break %}
        {% endif %}
        {% if i == 16 %}
          <td colspan="4" align="center" height="50"><b>Repertoire</b></td>
          {% break %}
        {% endif %}
        <td name=num>{{course[i][j]}}</rd>
        {{num+=1}}
      {% endfor %}
      </tr>
    {% endfor %}
  </table>
  <br>
  <button class="collapseField" title="Want a timetable that suits you? Please fill out the survey!" id="survey">Survey</button>
  <div class="surveyQuestion" id="Question">
    <label style="font-size: 20px;">1. What grade are you entering in the following year?</label>
    <select id="question1" style="font-size: 16px;">
      <option value="gr9">Grade 9</option>
      <option value="gr10">Grade 10</option>
      <option value="gr11">Grade 11</option>
      <option value="gr12">Grade 12</option>
    </select>
    <br>
    <label style="font-size: 20px;">2. Select your top preferred field of study.</label>
    <select id="question2" style="font-size: 16px;">
      <optgroup label="Arts">
        <option value="art">Art</option>
        <option value="drama">Drama</option>
        <option value="music">Music</option>
        <option value="npart">No Preference</option>
      </optgroup>
      <optgroup label="Business Studies">
        <option value="marketing">Marketing</option>
        <option value="accounting">Accounting</option>
        <option value="entrepreneurship">Entrepreneurship</option>
        <option value="management">Management</option>  
        <option value="npbusinessstudies">No Preference</option>
      </optgroup>
      <optgroup label="Canadian and World Studies">
        <option value="geography">Geography</option>
        <option value="history">History</option>
        <option value="economics">Economics</option>
        <option value="npcanadianandworldstudies">No Preference</option>
      </optgroup>
      <optgroup label="Languages">
        <option value="english">English</option>
        <option value="french">French</option>
        <option value="nplanguages">No Preference</option>
      </optgroup>
      <optgroup label="Computer Studies">
        <option value="engineering">Engineering</option>
        <option value="computerscience">Computer Science</option>
        <option value="npcomputerstudies">No Preference</option>
      </optgroup>
      <optgroup label="Health and Physical Education">
        <option value="fitness">Fitness</option>
        <option value="healthyactivelivingeducation">Healthy Active Living Education</option>
        <option value="nphealthandphysicaleducation">No Preference</option>
      </optgroup>
      <optgroup label="Mathematics">
        <option value="algebraandfunctions">Algebra & Functions</option>
        <option value="datamanagement">Data Management</option>
        <option value="npmathematics">No Preference</option>
      </optgroup>
      <optgroup label="Science">
        <option value="physics">Physics</option>
        <option value="chemistry">Chemistry</option>
        <option value="biology">Biology</option>
        <option value="npscience">No Preference</option>
      </optgroup>
      <optgroup label="Social Sciences and Humanities">
        <option value="familystudies">Family Studies</option>
        <option value="foodandnutrition">Food and Nutrition</option>
        <option value="philosophy">Philosophy</option>
        <option value="psychology">Psychology</option>
        <option value="npsocialstudiesandhumanities">No Preference</option>
      </optgroup>
      <optgroup label="Technological Education">
        <option value="communicationstechnology">Communications Technology</option>
        <option value="technologicaldesign">Technological Design</option>
        <option value="nptechnologicalstudies">No Preference</option>
      </optgroup>
      <optgroup label="No Preference">
        <option value="npnopreference">No Preference</option>
      </optgroup>
    </select>
    <br>
    <label style="font-size: 20px;">3. Enter your second preferred field of study.</label>
    <select id="question3" style="font-size: 16px;">
      <optgroup label="Arts">
        <option value="art">Art</option>
        <option value="drama">Drama</option>
        <option value="music">Music</option>
        <option value="npart">No Preference</option>
      </optgroup>
      <optgroup label="Business Studies">
        <option value="marketing">Marketing</option>
        <option value="accounting">Accounting</option>
        <option value="entrepreneurship">Entrepreneurship</option>
        <option value="management">Management</option>  
        <option value="npbusinessstudies">No Preference</option>
      </optgroup>
      <optgroup label="Canadian and World Studies">
        <option value="geography">Geography</option>
        <option value="history">History</option>
        <option value="economics">Economics</option>
        <option value="npcanadianandworldstudies">No Preference</option>
      </optgroup>
      <optgroup label="Languages">
        <option value="english">English</option>
        <option value="french">French</option>
        <option value="nplanguages">No Preference</option>
      </optgroup>
      <optgroup label="Computer Studies">
        <option value="engineering">Engineering</option>
        <option value="computerscience">Computer Science</option>
        <option value="npcomputerstudies">No Preference</option>
      </optgroup>
      <optgroup label="Health and Physical Education">
        <option value="fitness">Fitness</option>
        <option value="healthyactivelivingeducation">Healthy Active Living Education</option>
        <option value="nphealthandphysicaleducation">No Preference</option>
      </optgroup>
      <optgroup label="Mathematics">
        <option value="algebraandfunctions">Algebra & Functions</option>
        <option value="datamanagement">Data Management</option>
        <option value="npmathematics">No Preference</option>
      </optgroup>
      <optgroup label="Science">
        <option value="physics">Physics</option>
        <option value="chemistry">Chemistry</option>
        <option value="biology">Biology</option>
        <option value="npscience">No Preference</option>
      </optgroup>
      <optgroup label="Social Sciences and Humanities">
        <option value="familystudies">Family Studies</option>
        <option value="foodandnutrition">Food and Nutrition</option>
        <option value="philosophy">Philosophy</option>
        <option value="psychology">Psychology</option>
        <option value="npsocialstudiesandhumanities">No Preference</option>
      </optgroup>
      <optgroup label="Technological Education">
        <option value="communicationstechnology">Communications Technology</option>
        <option value="technologicaldesign">Technological Design</option>
        <option value="nptechnologicalstudies">No Preference</option>
      </optgroup>
      <optgroup label="No Preference">
        <option value="npnopreference">No Preference</option>
      </optgroup>
    </select>
    <br>
    <label style="font-size: 20px;">4. Enter your third preferred field of study.</label>
    <select id="question4" style="font-size: 16px;">
      <optgroup label="Arts">
        <option value="art">Art</option>
        <option value="drama">Drama</option>
        <option value="music">Music</option>
        <option value="npart">No Preference</option>
      </optgroup>
      <optgroup label="Business Studies">
        <option value="marketing">Marketing</option>
        <option value="accounting">Accounting</option>
        <option value="entrepreneurship">Entrepreneurship</option>
        <option value="management">Management</option>  
        <option value="npbusinessstudies">No Preference</option>
      </optgroup>
      <optgroup label="Canadian and World Studies">
        <option value="geography">Geography</option>
        <option value="history">History</option>
        <option value="economics">Economics</option>
        <option value="npcanadianandworldstudies">No Preference</option>
      </optgroup>
      <optgroup label="Languages">
        <option value="english">English</option>
        <option value="french">French</option>
        <option value="nplanguages">No Preference</option>
      </optgroup>
      <optgroup label="Computer Studies">
        <option value="engineering">Engineering</option>
        <option value="computerscience">Computer Science</option>
        <option value="npcomputerstudies">No Preference</option>
      </optgroup>
      <optgroup label="Health and Physical Education">
        <option value="fitness">Fitness</option>
        <option value="healthyactivelivingeducation">Healthy Active Living Education</option>
        <option value="nphealthandphysicaleducation">No Preference</option>
      </optgroup>
      <optgroup label="Mathematics">
        <option value="algebraandfunctions">Algebra & Functions</option>
        <option value="datamanagement">Data Management</option>
        <option value="npmathematics">No Preference</option>
      </optgroup>
      <optgroup label="Science">
        <option value="physics">Physics</option>
        <option value="chemistry">Chemistry</option>
        <option value="biology">Biology</option>
        <option value="npscience">No Preference</option>
      </optgroup>
      <optgroup label="Social Sciences and Humanities">
        <option value="familystudies">Family Studies</option>
        <option value="foodandnutrition">Food and Nutrition</option>
        <option value="philosophy">Philosophy</option>
        <option value="psychology">Psychology</option>
        <option value="npsocialstudiesandhumanities">No Preference</option>
      </optgroup>
      <optgroup label="Technological Education">
        <option value="communicationstechnology">Communications Technology</option>
        <option value="technologicaldesign">Technological Design</option>
        <option value="nptechnologicalstudies">No Preference</option>
      </optgroup>
      <optgroup label="No Preference">
        <option value="npnopreference">No Preference</option>
      </optgroup>
    </select>
    <br>
    <label style="font-size: 20px;">5. Select your preferred pathway</label>
    <select id="question7" style="font-size: 16px;">
      <option value="unipathway">University</option>
      <option value="collegepathway">College</option>
      <option value="workplacepathway">Workplace</option>
    </select>
    <br>
    <label style="font-size: 20px;">6. If you are going to Gr. 12 or above in the following year, how many spare do you wish to have?</label>
    <select id="question8" style="font-size: 16px;">
      <option value="zerospare">0</option>
      <option value="onespare">1</option>
      <option value="twospare">2</option>
    </select>
    <br>
    <label style="font-size: 20px;">7. How many courses are you willing to fast-track (maximum)?</label>
    <select id="question9" style="font-size: 16px;">
      <option value="zerofast">0</option>
      <option value="onefast">1</option>
      <option value="twofast">2</option>
      <option value="threefast">3</option>
      <option value="fourfast">4</option>
      <option value="fivefast">5</option>
    </select>
    <br>
    <label style="font-size: 20px;">8. Are you planning to join the repertoire?</label>
    <select id="question10" style="font-size: 16px;">
      <option value="yesrep">Yes</option>
      <option value="norep">No</option>
    </select>
    <br>
  </div>
  <br>
  <script src="script.js"></script>
  <script src="https://replit.com/public/js/replit-badge-v2.js" theme="dark" position="bottom-right"></script>
</body>
</html>
