<html>
<head></head>
<body>
<div id="login-portal">
    <h1>Login</h1>
    <form method="post">
        <label for="username">Student Number:</label>
        <br>
        <input type="text" id="studentnum" name="login-studentnum" required>
        <br>
        <label for="password">Password:</label>
        <br>
        <input type="password" id="password" name="login-password" required>
        <br>
        <br>
        <input type="submit" value="Submit">
    </form>
</div>
</body>
</html>
