{% extends "layout.html" %}

{% block title %}Login{% endblock %}
{% block active %}Login{% endblock %}

{% block main %}
<div id="login-portal">
    <h1>Login</h1>
    <form method="post" action="/course_selection">
        <label for="username">Student Number:</label>
        <br>
        <input type="text" id="studentnum" name="login-studentnum" required>
        <br>
        <label for="password">Password:</label>
        <br>
        <input type="password" id="password" name="login-password" required>
        <br>
        <br>
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}
